*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* incio Header*/
body{
  background-color: #DCE2F2;
}


header{
  width: 0%;
  background-color: #8C7737;
  border-bottom: 2px #000 solid;
  font-size: x-small;

}
header li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
header li a:hover {
  background-color: #BFA760;
  color: white;
}
li a{
  display: inline;
  color: black;
  background-color: #BFA041;
  text-decoration: none;



}
li a:hover{
  color: black;
  background-color: #F2F2F2;
}

/*Fin header*/

/*Inicio menu*/
#logo{
  border-radius: 50%;
  float: left;
  justify-content: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

#menu{
  padding: 2% 5% 2% 5%;
}

/* Fin menu */


.card{
  margin-right: 40%;
  margin-left: 450px;
  padding: 10px;
  background-color: #afaa9c;
}
#emailHelp{
  font-size: x-small;
}

#chkTerminos{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;

}

 form a {
  color: #000;
  background-color: #8C7737;
  text-decoration: none;
}
form a:hover{
  color: white;
  background-color: #BFA041;
  text-decoration: none;
}

/*footer*/

footer{
  background-color: black;
  color: white;
  height: 300px;
}
.contacto{
  padding-top: 30px;
}
.quienes{
  padding-top: 30px;
}


/**/
div #bott-1 {
  float: left;
  /*width: %;*/
}

div #bott-2{
  float: left;
  /*width: 100%;*/
}

div #bott-3{
  border-radius: 50%;
  float: right;
  /*padding: 50%;
  /*width: 100%;*/
}

Diferenciar cajas, borrar al final
.raw{
border: 2px #000 solid;   
}



.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 30px;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}