body{
  margin: 0;
  padding: 0;
  background-color: gray;
  height: 100vh;
}



#login  #login-row #login-column #login-box {
  margin-top: 200px;
  max-width: 600px;
  height: 260px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
 #login-row  #login-form {
  padding: 50px 0px 0px 35px;
  margin: 0px 0px 59px 0px;
}

#login-column{
    padding: -50px;
}


#login {
  
    padding: -50px;
}
nav{

    width: 300px;
    margin: 0 auto;
    padding-right: 4%;
}

/* header{
    
    width: 300px;
    margin: 0 auto;
    height: 16%;

} */

p.centrado {
    text-align: center;
    
  }

#cuadro{
    
  max-width: 600px;
  height: 320px;
  margin-top: -85px;
  padding: 20px;
  

}