/* incio Header*/
body{
    background-color: #DCE2F2;
}


header{
    width: 0%;
    background-color: #F2A30F;
    border-bottom: 2px #000 solid;
    font-size: x-small;
    padding-top: 15px;

}
header li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
header li a:hover {
    background-color: #F28E13;
    color: white;
}
li a{
    display: inline;
    color: black;
    background-color: #F2A30F;
    text-decoration: none;



}
li a:hover{
    color: black;
    background-color: #F2F2F2;
}


/*Fin header*/


 /*  krosh */
 
main{
    
    text-align: center;
    width: 420px;
    margin: auto;
    padding-bottom: 146px;
 }


/*  fin krosh */
/*footer*/

footer{
    background-color: black;
    color: white;
    height: 270px;
    
    
}
.contacto{
    padding-top: 30px;
}
.quienes{
    padding-top: 30px;
}


/**/
div #bott-1 {
    float: left;
    /*width: %;*/
}

div #bott-2{
    float: left;
    /*width: 100%;*/
}

div #bott-3{
    border-radius: 50%;
    float: right;
    padding-left: 200px;
    padding-top: 50px;
    /*padding: 50%;
    /*width: 100%;*/
}

/*Diferenciar cajas, borrar al final
.raw{
 border: 2px #000 solid;   
}



.grid-container {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }